
h1 a {
	color: #ffffff;
}

.checkbox.checked .second-icon, .radio.checked .second-icon {
	color: #3498db;
}

.checkbox.checked {
	color: #3498db;
}

.code {
	font-size: 20px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.power {
	color: #e74c3c;
}

.limited {
	color: #FF0000;
}

.tile-bland {
	background-color: #ecf0f1;
}

.strike {
	text-decoration: line-through;
}

.tile {
	background-color: #ffffff;
}

.ui-slider-range {
	background-color: #3498db;
}

.ui-slider-handle {
	background-color: #2980b9;
}

.ui-slider-handle:hover {
	background-color: #3498db;
}

.ui-slider-handle:focus {
	background-color: #3498db;
}

.ui-slider-handle:active{
	background-color: #3498db;
}

.ui-slider-segment {
	background-color: #bdc3c7;
}



.check-container {
	width: 140px;
	display: inline-block;
}

.controls {
	padding-left:10px !important;
	padding-right:10px !important;
	padding-top:0px !important;
	padding-bottom:20px !important;
}

#title {
	line-height:0px;
	font-size: 2em;
}

#slider #slider2 {	
	width: 200px;
	position: relative;
	left:00px;
	display: inline-block;
}

#slider2 {	
	width: 200px;
	position: relative;
	left:00px;
	display: inline-block;
}


footer {
	background-color: #2980b9;
	color:white;
}

footer a {
	color:#ffffff;
}

body {
	color: #333333;
	background-color: #ecf0f1;
	margin: 0px;
	padding: 0px;
}

.panel-body {
	background-color: #ecf0f1;

}

.demo {
	pointer-events:none;
	padding:0px;
	margin-top:16px;
	text-align: left;
	width: 100%;
	height:60vw;
	max-height: 600px;
	background-color:#ecf0f1;
}
.demo-controls-panel {
	padding-right:10px;
	padding-left:10px;
}

.demo-controls {
	padding: 10px;
	background-color:#fff;
}
.container {
	padding: 20px;
}
.header {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #2980b9;
	color: #ecf0f1;
	width: 100%;
	padding:0px;
}

.package-manager-logo {
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
}